
* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
    background-image: url("./images/pexels-magda.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

nav a {
    display: inline-block;
    color: white;
    padding: 20px 14px;
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 0 solid;
    float: left;
    font-weight: bolder;

}

nav a:hover {
    color: yellow;
    border-bottom: 0.8px solid cyan;
}

nav div {
    float: right;
}

div.logo {
    padding: 20px;
    width: 100px;
    height: 20x;
    font-weight: bold;
    color: cyan;
    float: left;
}



